<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="jackal_kinova">

  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- include jackal, tim571, d435 urdf -->
  <xacro:include filename="$(find jackal_kinova_gazebo)/urdf/jackal.urdf.xacro"/>
  <xacro:include filename="$(find jackal_kinova_gazebo)/urdf/include/tim571.urdf.xacro"/>
  <xacro:include filename="$(find jackal_kinova_gazebo)/urdf/include/d435.urdf.xacro"/>

  <!-- include arm urdf -->
  <xacro:include filename="$(find jackal_kinova_gazebo)/urdf/gen3_lite_gen3_lite_2f.xacro">
    <arg name="sim" value="true"/>
  </xacro:include>

  <!-- lidar, base_camera mount -->
  <link name="top_structure">
    <visual>
      <origin xyz="0 0 0" rpy="${PI/2} 0 -${PI/2}"/>
      <geometry>
        <mesh filename="package://jackal_kinova_gazebo/meshes/top_structure_roas.STL"/>
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="${PI/2} 0 -${PI/2}"/>
      <geometry>
        <mesh filename="package://jackal_kinova_gazebo/meshes/top_structure_roas.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="top_structure_joint" type="fixed">
    <parent link="base_link"/>
    <child link="top_structure"/>
    <origin xyz="0 0 -0.065" rpy="0 0 0"/>
  </joint>

  <joint name="gen3_lite_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gen3_lite_base_link"/>
    <origin xyz="0.01 0 0.214" rpy="0 0 0"/>
  </joint>

  <xacro:sensor_d435 parent="base_link" name="base_camera">
    <origin xyz="0.196 0 0.256" rpy="0 0 0"/>
  </xacro:sensor_d435>

  <!-- hand_camera_bracket link is located in gen3_lite_macro.xacro -->
  <xacro:sensor_d435 parent="hand_camera_bracket" name="hand_camera">
    <origin xyz="0.04 0 0.02" rpy="${PI/2} -${PI/2} ${PI/2}"/>
  </xacro:sensor_d435>

  <xacro:sensor_tim571 parent="base_link">
    <origin xyz="0.145 0 0.284" rpy="0 0 0"/>
  </xacro:sensor_tim571>

</robot>
