<launch>
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.1" />
    <arg name="yaw" default="0" />
    <arg name="joystick" default="true" />
    <arg name="ns" default="JK_01" />
    <arg name="arm" default="gen3_lite" />
    <arg name="dof" default="6" />
    <arg name="gripper" default="gen3_lite_2f" />
    <arg name="robot_name" default="" />
    <arg name="prefix" default="" />
    <arg name="cyclic_data_publish_rate" default="40" /> <!--Hz-->

    <!-- Configuration of Jackal which you would like to simulate.
        See jackal_description for details. -->
    <arg name="config" default="base" />

    <!-- Load Jackal's description, controllers, and teleop nodes. -->
    <include file="$(find jackal_kinova_gazebo)/launch/rl_description_with_ns.launch">
        <arg name="ns" value="$(arg ns)/" />
        <arg name="plugin_ns" value="$(arg ns)" />
    </include>

    <include file="$(find jackal_kinova_gazebo)/launch/rl_control_with_ns.launch">
        <arg name="ns" value="$(arg ns)" />
        <arg name="prefix" value="$(arg ns)/" />
    </include>

    <include file="$(find jackal_kinova_gazebo)/launch/mteleop.launch">
        <arg name="joystick" value="$(arg joystick)" />
        <arg name="ns" value="$(arg ns)" />
    </include>

    <!-- Spawn Jackal_kinova -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model $(arg ns)_jackal_kinova -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />


</launch>