<launch>

    <arg name="arm" default="gen3_lite"/>
    <arg name="dof" default="6"/> 
    <arg name="gripper" default="gen3_lite_2f"/>
    <arg name="robot_name" default=""/>
    <arg name="prefix" default=""/>
    <arg name="cyclic_data_publish_rate" default="40"/> <!--Hz-->
    <arg name="debug" default="false" />
    <arg name="rviz_config" default="" />
    <arg     if="$(eval rviz_config=='')" name="command_args" value="" />
    <arg unless="$(eval rviz_config=='')" name="command_args" value="-d $(arg rviz_config)" />


    <arg name="marker_frame_id"     default="/base_link"/>
    <arg name="user_marker_size"	  default="12.3"/> <!-- 매우중요 -->
    
    <!-- Delay before homing the arm -->
    <arg name="start_delay_seconds" default="10"/>
    <arg name="first" default="JK_01"/>
    <arg name="second" default="JK_02"/>

    <group ns="$(arg first)">
        <include file="$(find jackal_kinova_moveit_config)/launch/mOmni_control.launch">
            <arg name="ns" value="$(arg first)" />
        </include>    
    </group>

    <group ns="$(arg second)">
        <include file="$(find jackal_kinova_moveit_config)/launch/mOmni_control.launch">
            <arg name="ns" value="$(arg second)"/>
        </include>
    </group>

    <!-- <include file="$(find husky_ur3_gripper_moveit_config)/launch/Omni_control_ur5.launch"/>  -->
</launch>
